{% extends 'base.html.twig' %}

{% block body %}
<style>

</style>

<div class="col-md-6 col-sm-6">
    <h2 style="color: #333;">Ajouter un projet</h2>
    <form action="/project/new"
      class="dropzone"
      id="my-awesome-dropzone"></form>
    <form action="#" method="post" class="wpcf7-form">
        <input type="text" id="subject" name="title" value="" class="wpcf7-form-control" required="" placeholder="Titre">
        <textarea id="message" name="message" class="wpcf7-form-control" required="" placeholder="Description"></textarea>
        <input type="text" id="title" name="title" value="" class="wpcf7-form-control" required="" placeholder="Client">
        <input style="float:  right;" type="text" id="title" name="title" value="" class="wpcf7-form-control" required="" placeholder="Date (aaaa-mm-jj)">
        
        <input type="submit" value="Envoyer" class="wpcf7-form-control wpcf7-submit"> 
    </form>
</div>

<div class="col-md-6 col-sm-6">
    <h2 style="color: #333;">Projets</h2>
    <ul>
    {% for project in projects %}
    <li>
    {{ project.title }}
    </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}