{% extends 'base.html.twig' %}

{% block body %}
<div class="portfolio-works">
    <ul class="filter right-side">
        <li><a class="active" href="#" data-filter="*">Tous <span class="count">12</span></a></li>
        <li><a href="#" data-filter=".cat-1">Enfant <span class="count">6</span></a></li>
        <li><a href="#" data-filter=".cat-2">Mode <span class="count">3</span></a></li>
        <li><a href="#" data-filter=".cat-3">Maison <span class="count">12</span></a></li>
        <li><a href="#" data-filter=".cat-4">Rendus <span class="count">12</span></a></li>
    </ul>
    
    <div class="portfolio-items grid-3column-01">
        {% for project in projects %}
        <div class="item col-xs-4 cat-{{ project.c_id }}">
            <a href="{{ path('app_project_show', { project_id: project.id }) }}">
            <div class="item-inner">
                <img src="images/projects/1.jpg" alt="Portfolio Image">
                <div class="item-details">
                    <div class="item-texts">
                        <h3 class="item-title">{{ project.title }}</h3>
                        <p class="category">{{ project.c_name }}</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}